<div class="chat" *ngIf="!isDismissed" cdkDragBoundary="body" cdkDrag>
  <div class="icon-bar" *ngIf="isOpen" cdkDragHandle>
    <span class="icon-minimize" (click)="minimizeChat($event)"></span>
    <span class="icon-maximize" (click)="maximizeChat($event)" ></span>
    <span class="icon-close" (click)="closeChat($event)" id="collapse-chat"></span>
  </div>
  <ng-template #collapsed>
    <div class="chat--collapsed" (click)="openChat($event)">
      <!-- <div class="chat__dismiss" (click)="dismissChat($event)" id="close-chat">
        <span class="icon-close"></span>
        <p>
            Dismiss the chat forever, you wont be able to join the chat any more. You will have to reload in order to reconecct
        </p>
      </div> -->
      <!-- <div>
        Status: <span class="icon-status">{{isOnline}}</span>
      </div> -->
    </div>
  </ng-template>

  <div class="chat--expanded" *ngIf="isOpen; else collapsed">
    <div class="chat__message-box">
      <ol>
        <li *ngFor="let item of history; trackById">
          {{item}}
        </li>
      </ol>
    </div>
    <form id="search" (ngSubmit)="onSubmit(form)" novalidate #form='ngForm'>
      <input class="a-input" type="text" name="message" id="message-input" [value]="message"
        (input)="message = $event.target.value" />
      <input id="message-submit" type="submit" value="" />
    </form>
  </div>
</div>
